<!DOCTYPE html>
<html>
	<head>
		<title><%= list_info.list_name %> </title>
		<meta charset="UTF-8">
		<meta name="keywords" content="<%= list_info.list_name %>. <%= list_info.descript %>" />
		<meta name="description" content="<%= list_info.detail %>" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/resect.css" />
		<link rel="stylesheet" href="/css/public.css" />
		<link rel="stylesheet" href="/css/deproduct.css" />
		<link rel='shortcut icon' type="image/x-icon" sizes="any" href="/img/r.svg"/>
		<link rel='icon' sizes="any" href="/img/r.svg"/>
        <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Product",
            "name": "<%= list_info.list_name %>",
            "sku": "<%= list_info.list_name %>",
            "mpn": "<%= list_info.list_name %>",
            "image": [
                "https://www.rayvet.cn<%= cdn.productUrl + list_info.imgSrc %>"
            ],
            "description": "<%= list_info.descript %>",
            "brand": {
                "@type": "Brand",
                "name": "Ruige"
            },
            "review": {
                "@type": "Review",
                "reviewRating": {
                  "@type": "Rating",
                  "ratingValue": "5",
                  "bestRating": "5"
                },
                "author": {
                  "@type": "Organization",
                  "name": "CPMB"
                }
            },
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "5.0",
                "reviewCount": "89"
            },
            "offers": {
                "@type": "AggregateOffer",
                "offerCount": "5",
                "lowPrice": "0",
                "highPrice": "99999",
                "priceCurrency": "USD"
            }
        }
        </script>
	</head>
	<body>
	<%- include('head') %>
	<div class="de-top"></div>
	<div class="de-top1"></div>
	<div class="decontent">
        <img class="de-left" alt="<%= list_info.list_name %>" src="<%= cdn.productUrl + list_info.imgSrc %>"/>
		<div class="de-right">
			<h1><%= list_info.list_name %></h1>
			<p><%= list_info.descript %></p>
			<ul>
				<% for(var j=0;j<list_info.detail.split(',').length;j++){ %>
				<li><%=  list_info.detail.split(',')[j] %></li>
				<% } %>
			</ul>
		</div>
	</div>
	<% if (other_list.length>1) { %>
		<div class="de-bottom">
			<ul>
				<% for(var i=0;i<other_list.length;i++){ %>
					<a href="<%= other_list[i].list_name.replace(/\s/g, '-') %>">
				<li>
					<div class="bacg" style="background:url(<%= cdn.productUrl + other_list[i].imgSrc %>);background-size:100% 100% ;"></div>
					<p><%= other_list[i].list_name %> </p>
				</li>
				</a>
				 <% } %>
			</ul>
		</div>
		<% } %>
	<%- include('form') %>
	<%- include('foot') %>
	</body>
</html>
