<!DOCTYPE html>
<html>
	<head>
		<title><%= gs_info.name %> </title>
		<meta charset="UTF-8"/>
		<meta name="keywords" content=" X-RAY machine fluoroscopy Ultrasound Inspection machine Anesthesia machine ICU" />
		<meta name="description" content="veterinary medical products including veterinary x ray machine, DR, ultrasound, Anesthesia machine, inspection machine, veterinary ICU" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/resect.css" />
		<link rel="stylesheet" href="/css/public.css" />
		<link rel="stylesheet" href="/css/sproduct.css" />
		<link rel='shortcut icon' type="image/x-icon" sizes="any" href="/img/r.svg"/>
		<link rel='icon' sizes="any" href="/img/r.svg"/>
	</head>
	<body>
		<div class="warp">
			<%- include('head') %>
			<div class="spro-top"></div>
			<div class="spro-top1"></div>
			<% if (gs_list.length) { %>
			<ul class="pro-list">
				 <% for(var i=0;i<gs_list.length;i++){ %>
                    <li>
                    	<span style="background:url(<%= cdn.productUrl + gs_list[i].imgSrc %>) ; background-size:100% 100% ;"></span>
                        <!-- <img alt="<%=gs_list[i].list_name %>" src="<%= cdn.productUrl + gs_list[i].imgSrc %>"/> -->
                    	<span>
                    		<h1><%= gs_list[i].list_name %></h1>
                    		<p><%= gs_list[i].descript %></p>
                    		<span><a href="<%= gs_info.name.replace(/\s/g, '-') %>/<%= gs_list[i].list_name.replace(/\s/g, '-') %>">MORE DETAIL</a></span>
                    		</span>
                    	</li>
                 <% } %>
			</ul>

			<div class="other" style="margin-bottom: 100px;">
				<h1>OTHER PRODUCTS</h1>
				<ul>
					 <% for(var j = 0; j < related_arry_set.length; j++){ %>
						<a href="<%= related_arry_set[j].name.replace(/\s/g, '-') %>">
							<li>
								<div class="bac"  style="background:url(<%=   cdn.productUrl + related_arry_set[j].src %>) ; background-size:100% 100% ;"></div>
								<p><%= related_arry_set[j].name %></p>
							</li>
						</a>
					 <% } %>
				</ul>
			</div>
			<% } %>
			<%- include('foot') %>
		</div>

    </body>
	<script type="text/javascript">
		//控制左右单双分开
		$('.pro-list li:even>span').css("float","right")
	</script>

</html>
