<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Ruige International Trading Co., Ltd. </title>
		<meta name="keywords" content="Ruige, medical, veterinary, x ray, pet medical, ultrasound, inspection machine, anaesthesia machine, ICU, vet machine, veterinary x ray machine, veterinary ultrasound, veterinary CT, veterinary MRI." />
		<meta name="description" content="RUIGE is a very professional company with veterinary medical products all around the world. We offer wide range of medical products including veterinary x ray machine, DR, ultrasound, Anesthesia machine, inspection machine, veterinary ICU and so on,based on Chinese Market, provide service for global users, RUIGE’s products have been widely applied in many countries,and always committed to become the world's leading provider of veterinary clinical and medical experiments solutions." />
		<meta name="google-site-verification" content="Et7DD28DDBfSSncIysGXAgI9Ct0GhWupo1tBthJVUco" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/resect.css" />
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/main.css" />
		<link rel='shortcut icon' type="image/x-icon" sizes="any" href="/img/r.svg"/>
		<link rel='icon' sizes="any" href="/img/r.svg"/>
        <script type="application/ld+json">
            {
            "@context": "https://schema.org",
            "@type": "Organization",
            "url": "https://www.rayvet.cn",
            "logo": "https://www.rayvet.cn/img/r.svg"
            }
        </script>
	</head>
	<body>
		<div class="warp">
			<%- include('head') %>
					<div class="h-content">
					  <div class="in-warp">
						<h1>Ruige</h1>
						<span>Based on Chinese Market, provide service for global users, RUIGE’s products have been widely applied in many countries,and always committed to become the world's leading provider of veterinary clinical and medical experiments solutions.</span>
					  </div>
					</div>
			<div class="content">
				<div class="aboutus">
					<h1>ABOUT US</h1>
					<span>Years’experience with veterinary medical equipments. And many professional technicians and after-sales service engineers. </span>
					<ul>
						<li>
						<div>
							<img  src="https://www.rayvet.cn/cdn/upload_6115267c85dda38c9f4b743ee8c5a2a8.jpeg" alt="">
						</div>
						<h1 class="culture">
							<p>Value</p></h1>
						<span>
							<p>Quality</p>
							<p>Faith</p>
							<p>Responsibility</p>
						</span>
						</li>
						<li>
							<div>
								<img  src="https://www.rayvet.cn/cdn/upload_6115267c85dda38c9f4b743ee8c5a2a8.jpeg" alt="">
							</div>
						<h1 class="culture">
							<p>Vison</p></h1>
						<span>
							Being core strength for improving life quality
							Being core strength for improving life quality
						</span>
						</li>
						<li>
							<div>
								<img  src="https://www.rayvet.cn/cdn/upload_6115267c85dda38c9f4b743ee8c5a2a8.jpeg" alt="">
							</div>
						<h1 class="culture">
							<p>Mission</p></h1>
						<span>
							Provide best solution for medical research and clinical applications.
							Being core strength for improving life quality
							</span>
						</li>
						<li>
							<div>
								<img  src="https://www.rayvet.cn/cdn/upload_6115267c85dda38c9f4b743ee8c5a2a8.jpeg" alt="">
							</div>
						<h1 class="culture">
							<p>Advantage</p></h1>
						<span>
							Provide comprehensive and high quality solution for users.
							Being core strength for improving life quality
						</span>
						</li>
					</ul>
				</div>

				<div class="middlecontent">
					<div class="middle-left">
						<h1>SINCE 2000</h1>
						<span>
We started to be <i>manufacturer</i> of different kinds of <i>imaging machine</i>, and begin our business with <i>veterinary hospitals</i> and <i>different distributors</i>. until now, we extend our products to <i>laboratory equipment</i>, <i>anesthesia machine</i>, <i>endscopy</i> etc .
						</span>
					</div>
					<div class="middle-right"></div>
				</div>

				<div class="recommend">
					<h1>Recommendations</h1>
					<ul>
						<% for(var i=0;i<recommendData.length;i++){ %>
						<li>
							<!-- <div class="rec">
								<span>Reco</span>
							</div> -->
							<div class="with_img" style="background: url(<%=cdn.productUrl + recommendData[i].imgSrc%>);background-size: 100% 100%;" alt="picture"></div>
							<span>
								<!-- <p class="first"><%= recommendData[i].descript %></p> -->
								<p class="second"><%= recommendData[i].list_name %></p>
							</span>
							<a href="/product/<%= productdata.find(_=>_.id == recommendData[i].typeID).name.replace(/\s/g, '-') %>/<%= recommendData[i].list_name.replace(/\s/g, '-') %>"><button>View</button></a>
						</li>
						<% } %>
					</ul>
                        </div>

                        <% if (newsList.length){ %>
                        <div class="news">
                              <h1>News</h1>
                              <ul>
                                <% for(var i = 0; i < newsList.length; i++){ %>
                                <a href="newsList/<%= newsList[i].title.replace(/\s/g, '-') %>">
                                <li>
                                    <div class="news_left">
                                    <img alt="<%= newsList[i].title.replace(/\s/g, '-') %>" src="<%=cdn.newsUrl +  newsList[i].title.replace(/\s/g, '-') + '/' + newsList[i].titleImg %>" alt="" />
                                    </div>
                                    <div class="news_right">
                                    <div>
                                        <p class="right_title">
                                            <%= newsList[i].title %>
                                        </p>
                                        <p class="right_content">
                                            <%= newsList[i].content.replace(/<\/?.+?\/?>/g, '').replace(/&nbsp/g, '') %>
                                        </p>
                                    </div>
                                    <p class="right_time">
                                        <%= newsList[i].creationTimestamp %>
                                    </p>
                                    </div>
                                </li>
                                </a>
                                <% } %>
                            </ul>
                            <a href="/newsList">
                                <div class="view_more">View More News</div>
                            </a>
                        </div>
                        <% } %>

			    <div class="mainproduct">
			    	<img alt="leftswipt" src="img/leftswipt.jpg" alt="turnleft" />
			    	<div>
			    		<div class="b-content">
			    			<ul>
			    				<li>
			    					<h1>Welcome to Ruige</h1>
			    		<p>We are very pleased to introduce ourselves as very professional company with veterinary medical products all around the world. We offer wide range medical products including veterinary x ray machine, DR, ultrasound, Anesthesia machine, inspection machine and so on. </p>

			    				</li>
			    				<li>
			    					<h1>Reliable Partner</h1>
			    		<p> Reliable partner for your business with OEM/ODM services,Contributes to the world by providing high quality veterinary medical products to the hospitals and enhancing competitive advantage for business partners.
</p>

			    				</li>
			    				<li>
			    					<h1>Keep Innovation</h1>
			    		<p>Our quality products are principally based on our continued innovation. We have invested large portion of sales profits to R&D section and committed to provide high level of veterinary medical technology.
</p>

			    				</li>
			    			</ul>
			    		</div>
			    	</div>
			    	<img alt="rightswipt" src="img/rightswipt.jpg" alt="turnright" />
				</div>

			</div>
			<%- include('foot') %>
        </div>
		<script type="text/javascript" src="/js/main.js" ></script>
	</body>
</html>
